/*资料拦截-用户资料/选项*/
.data_box{margin:0;padding: 10px;background-color: #fff;}
.data_box li{line-height: 25px}
.data_box li label{font-size: 14px;color: #999}
.data_box li span{font-size: 14px;color: #555}

.setting .option_box{margin-top: 0}
.setting .data_box{margin-bottom: 10px}


.setting .name_list{ margin:0; color:#555;}
.setting .name_list>li{ padding:10px; background:#fff; margin:0 0 1px 0;line-height:22px;}
.setting .name_list>li>label{ display:inline-block; width:20%; text-align:center;}
.setting .name_list>li>input{ border:1px solid #ececec; padding:8px; width:72%;font-size: 16px}